workflows/3.25.2608.2105/ChatwootProfileUpdate.json
{
  "createdAt": "2025-02-07T01:25:28.896Z",
  "updatedAt": "2025-08-27T17:03:44.131Z",
  "id": "1004",
  "name": "ChatwootProfileUpdate",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "multiplex"
      },
      "name": "Quepasa + Contact",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1936,
        752
      ],
      "id": "51d0f736-6f0c-43e5-a91b-7b2a97425754"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Quepasa",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Quepasa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1728,
        816
      ],
      "id": "4af7bacc-27f9-4e61-a3da-6bd49f0a523d"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"success\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "06208ebe-05b6-43d4-b735-b67db02f6645",
      "name": "Success on get picture ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1488,
        832
      ]
    },
    {
      "parameters": {
        "requestMethod": "PUT",
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "avatar_url",
              "value": "={{ $json[\"Quepasa\"][\"info\"][\"url\"] }}"
            },
            {
              "name": "custom_attributes.pictureid",
              "value": "={{ $json[\"Quepasa\"][\"info\"][\"id\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        }
      },
      "name": "Chatwoot Update Profile Avatar URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2192,
        752
      ],
      "id": "a8aebf64-6dbd-40b0-9848-156e45fa4b23",
      "retryOnFail": true,
      "notes": "Missing filter by:\nContact Id\nInbox Id\nStatus = open | pending"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.chatid}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a14c9fae-789b-4df4-8592-6e299840eda1",
      "name": "If Found ChatId",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        480
      ]
    },
    {
      "parameters": {
        "errorMessage": "Chat Id not found !"
      },
      "id": "cad91a10-b569-4447-a514-f10747a6b68c",
      "name": "Stop And Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        768,
        672
      ]
    },
    {
      "parameters": {
        "content": "## Starting with following parameters\n\n* chatid\n* qphost\n* qptoken\n\n* cwhost\n* utoken\n* account\n\n* contactid",
        "height": 309.0215131709718,
        "width": 527.0811654526535
      },
      "id": "785fa669-1279-41ba-b974-79be0e4fe14c",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -768,
        96
      ]
    },
    {
      "parameters": {
        "requestMethod": "PUT",
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "identifier",
              "value": "={{$json.chatid}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        }
      },
      "name": "Chatwoot Update Profile Email3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1568,
        240
      ],
      "id": "e1ad4e63-b4a7-4217-86d3-3bc475166476",
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "a3de7c78-7f5b-4cea-9350-79e06178c7f5",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        480
      ]
    },
    {
      "parameters": {},
      "id": "32d01f3f-139f-4181-8e66-a6010a144c70",
      "name": "NoOp1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1088,
        736
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "d7cb8770-a8cf-405d-bf08-74b8293d3c13",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2704,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.identifier}}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "1a8f53ca-4a72-46de-9c21-bc164b4272de",
      "name": "If Empty Identifier",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1088,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.identifier}}",
              "operation": "notEqual",
              "value2": "={{$json.chatid}}"
            }
          ]
        }
      },
      "id": "a14b7213-f2ea-43a0-b309-ac61b910858f",
      "name": "If Different Identifier ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1328,
        352
      ],
      "notesInFlow": true,
      "notes": "Used to sincronize old versions with Quepasa Id"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "c1995ba5-c022-4b26-9049-c6a6cf066f58",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -160,
        496
      ]
    },
    {
      "parameters": {
        "url": "={{$json.qphost}}/picinfo/{{$json.chatid}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{$json.qptoken}}"
            }
          ]
        }
      },
      "name": "Quepasa Picture Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1280,
        832
      ],
      "id": "69906f9e-a27e-4cef-b155-efa16fd7d6e1",
      "continueOnFail": true,
      "notes": "Important to use \"source_id\" to respond messages"
    },
    {
      "parameters": {
        "content": "## (1.0.1) Recommendations \n* change postgres node version\n\n\n\n* Remember set timeout to 20 seconds ",
        "height": 161.4940393151249,
        "width": 505.65878958512553
      },
      "id": "68b76d29-739e-4298-9cfe-84486768c4e2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -768,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT account_id as account, identifier, phone_number FROM contacts WHERE id = '{{ $json.contactid }}'",
        "options": {}
      },
      "id": "98f92b27-075c-42d3-9de3-773edfcd0624",
      "name": "Get Contact Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -352,
        576
      ],
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "757f5d66-a95b-482b-8786-e3aa2ddb28df",
              "leftValue": "={{ $json.phone_number.length <= 14 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        0
      ],
      "id": "af155198-cd0a-492e-a011-098c03a44aec",
      "name": "Verify Phone = Lid"
    },
    {
      "parameters": {
        "url": "={{ $json.qphost }}/getphone",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lid",
              "value": "={{ $json.identifier }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{ $json.qptoken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        -16
      ],
      "id": "b02920ff-e458-41c4-b7d1-16e205853293",
      "name": "Verificar-Phone",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99593350-93a1-46fe-ad5c-a202dfe55b6d",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1552,
        -16
      ],
      "id": "64746239-0ce3-41b9-98e5-b6fcbb862063",
      "name": "Existe?"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('When Called By Another Workflow').item.json.cwhost }}/api/v1/accounts/{{ $('When Called By Another Workflow').item.json.account }}/contacts/{{ $('When Called By Another Workflow').item.json.contactid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{ $('When Called By Another Workflow').item.json.utoken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone_number\": \"+{{ $json.phone }}\" \n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        -16
      ],
      "id": "ffa7a33f-d8e3-4e05-b62d-66666fb07e88",
      "name": "Update-Contact"
    }
  ],
  "connections": {
    "Quepasa + Contact": {
      "main": [
        [
          {
            "node": "Chatwoot Update Profile Avatar URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Quepasa": {
      "main": [
        [
          {
            "node": "Quepasa + Contact",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Success on get picture ?": {
      "main": [
        [
          {
            "node": "Set Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Update Profile Avatar URL": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Found ChatId": {
      "main": [
        [
          {
            "node": "If Empty Identifier",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verify Phone = Lid",
            "type": "main",
            "index": 0
          },
          {
            "node": "NoOp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop And Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Update Profile Email3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Contact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp1": {
      "main": [
        [
          {
            "node": "Quepasa + Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Quepasa Picture Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Empty Identifier": {
      "main": [
        [
          {
            "node": "Chatwoot Update Profile Email3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Different Identifier ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Different Identifier ?": {
      "main": [
        [
          {
            "node": "Chatwoot Update Profile Email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If Found ChatId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quepasa Picture Info": {
      "main": [
        [
          {
            "node": "Success on get picture ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Info": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Verify Phone = Lid": {
      "main": [
        [
          {
            "node": "Verificar-Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar-Phone": {
      "main": [
        [
          {
            "node": "Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe?": {
      "main": [
        [
          {
            "node": "Update-Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 20,
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b4ab318d4f8eba20155e50db9998481bc305e3588e42ee69176091736c9d07e"
  },
  "pinData": {},
  "versionId": "3a5d40f3-2b3f-480f-8a31-68786dca3ac6",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2023-05-19T22:54:38.266Z",
      "updatedAt": "2023-05-19T22:54:38.266Z",
      "id": "13",
      "name": "github.com/nocodeleaks"
    },
    {
      "createdAt": "2025-08-08T00:44:31.388Z",
      "updatedAt": "2025-08-08T00:44:31.388Z",
      "id": "95HKVBfihMx9eAvs",
      "name": "apiqp-cw"
    }
  ],
  "shared": [
    {
      "createdAt": "2025-02-13T23:21:36.882Z",
      "updatedAt": "2025-02-13T23:21:36.882Z",
      "role": "workflow:owner",
      "workflowId": "1004",
      "projectId": "PvCSBKqKIFxr5IEy",
      "project": {
        "createdAt": "2024-11-06T23:37:48.901Z",
        "updatedAt": "2024-11-06T23:38:36.706Z",
        "id": "PvCSBKqKIFxr5IEy",
        "name": "Deivid Santos <deivid.amsantos@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ],
  "versao-qp": "3.25.2608.2105",
  "Workflow-Nome": "ChatwootProfileUpdate",
  "dir": "workflows",
  "Tag-Comparar": "apiqp-cw",
  "Workflow-Tags": [
    {
      "createdAt": "2023-05-19T22:54:38.266Z",
      "updatedAt": "2023-05-19T22:54:38.266Z",
      "id": "13",
      "name": "github.com/nocodeleaks"
    },
    {
      "createdAt": "2025-08-08T00:44:31.388Z",
      "updatedAt": "2025-08-08T00:44:31.388Z",
      "id": "95HKVBfihMx9eAvs",
      "name": "apiqp-cw"
    }
  ]
}