workflows/3.25.2608.2105/ChatwootExtra.json
{
  "createdAt": "2025-02-07T01:52:00.157Z",
  "updatedAt": "2025-08-08T01:11:34.010Z",
  "id": "t1o1WDo9E7C5EmJC",
  "name": "ChatwootExtra",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## (1.0.4) Updates\n* default envrionment variables\n",
        "height": 139.75900985723197,
        "width": 505.65878958512553
      },
      "id": "80109ddc-be0c-4e77-bc66-fd6f0bf405ec",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.extra.account }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "8251e9dd-8bab-4ebf-b86d-f3ce0167d755",
      "name": "If Missing Account",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT account_id FROM inboxes WHERE id = '{{ $json.extra.inbox }}'",
        "additionalFields": {}
      },
      "id": "0076d5dd-02fc-4d3f-a623-eded211f3f06",
      "name": "Get Account From Inbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        848,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "extra.account",
              "value": "={{ $json.account_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b898e483-43e2-492a-afb5-ea5357bd2b27",
      "name": "Set Account",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1008,
        -80
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "extra.atoken",
              "value": "={{ $json.atoken }}"
            }
          ],
          "number": [
            {
              "name": "extra.aid",
              "value": "={{ $json.aid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "96c6ca29-737d-43ed-9f6f-bfe5392c644d",
      "name": "Set AToken",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1952,
        -48
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "ab792e3c-80fa-4492-9165-ac2aff493d11",
      "name": "Merge Extra AToken",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2144,
        48
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "298d4858-e0d5-458b-8a7d-2b1b66f43989",
      "name": "Merge Extra Account",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1184,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"public\".\"access_tokens\" (\"owner_type\", \"owner_id\", \"token\", \"created_at\", \"updated_at\")\nSELECT 'AgentBot', '{{ $json.id }}', SUBSTRING(md5(random()::text),0,24), NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $json.id }});\nSELECT \"token\" AS \"atoken\", \"owner_id\" AS \"aid\" FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $json.id }} LIMIT 1;",
        "additionalFields": {}
      },
      "id": "7473ba3b-29c5-4c7c-8980-0b584c139630",
      "name": "GetOrCreate Agent Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1760,
        -48
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"agent_bot_inboxes\" (\"inbox_id\", \"agent_bot_id\", \"status\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT {{ $json.extra.inbox }}, {{ $json.extra.aid }}, 0, {{ $json.extra.account }}, NOW(), NOW() WHERE NOT EXISTS(SELECT NULL FROM \"agent_bot_inboxes\" WHERE \"inbox_id\" = {{ $json.extra.inbox }} AND \"agent_bot_id\" = {{ $json.extra.aid }} AND \"account_id\" = {{ $json.extra.account }});",
        "additionalFields": {}
      },
      "id": "9c40594d-bd4e-4af3-a20a-12728855a7a9",
      "name": "Ensure Rights For AgentBot At Account",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2352,
        -64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"access_tokens\".\"token\" AS \"utoken\" FROM \"account_users\" INNER JOIN \"access_tokens\" ON \"access_tokens\".\"owner_id\" = \"account_users\".\"user_id\" WHERE \"account_users\".\"account_id\" = {{ $json.extra.account }} AND \"access_tokens\".\"owner_type\" = 'User' AND \"account_users\".\"role\" = 1 ORDER BY \"account_users\".\"id\" LIMIT 1;",
        "additionalFields": {}
      },
      "id": "43a1ecde-e3fc-4b01-ab9c-0148ad6f5e3f",
      "name": "Get Admin User Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2768,
        -64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "extra.utoken",
              "value": "={{ $json.utoken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0ce08d9b-d80e-4664-beac-b90091a100c0",
      "name": "Set UToken",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2944,
        -64
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "cf058a8c-3e27-445d-b438-c9cff44f10db",
      "name": "Merge Extra UToken",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3120,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"public\".\"channel_api\".\"identifier\", \"public\".\"inboxes\".\"channel_id\" FROM \"public\".\"channel_api\" INNER JOIN \"public\".\"inboxes\" ON \"public\".\"channel_api\".\"id\" = \"public\".\"inboxes\".\"channel_id\" WHERE \"public\".\"channel_api\".\"account_id\"='{{$json.extra.account}}' AND \"public\".\"inboxes\".\"id\" = '{{$json.extra.inbox}}';",
        "additionalFields": {}
      },
      "id": "e602046b-1a7b-401c-8952-b78657feb4cb",
      "name": "Get Identifier",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3504,
        -16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "034415b6-2139-4daa-a97a-26976cf23be8",
      "name": "Merge Extra Identifier",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3888,
        48
      ]
    },
    {
      "parameters": {},
      "id": "dd8d36c7-7a67-4903-a8b6-7d1e29b7e39e",
      "name": "Account & Inbox",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1392,
        64
      ]
    },
    {
      "parameters": {},
      "id": "49c62dc0-4d53-4e33-ab6b-f2c221c65634",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        32
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "extra.inbox",
              "value": "={{ $json.body.inbox_id }}"
            },
            {
              "name": "extra.account",
              "value": "={{ $json.body.messages[0].account_id }}"
            }
          ],
          "string": [
            {
              "name": "extra.cwpublic",
              "value": "={{ $env[\"C8Q_CW_HOST\"] }}"
            },
            {
              "name": "extra.qphost",
              "value": "={{ $env[\"C8Q_QP_HOST\"] }}"
            },
            {
              "name": "extra.cwhost",
              "value": "={{ $env[\"C8Q_CW_HOST\"] }}"
            },
            {
              "name": "extra.n8nhost",
              "value": "={{ $env[\"C8Q_N8N_WEBHOOK\"] }}"
            },
            {
              "name": "extra.qpuser",
              "value": "={{ $env[\"C8Q_QP_DEFAULT_USER\"] ?? \"default@quepasa.io\" }}"
            },
            {
              "name": "event",
              "value": "={{ $json.event }}"
            },
            {
              "name": "extra.utoken",
              "value": "={{ $env['C8Q_SUPERUSER_TOKEN'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "562d0fea-46f7-4d00-be88-f239d7247d2a",
      "name": "Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        208,
        32
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "extra.identifier",
              "value": "={{ $json.identifier }}"
            }
          ],
          "number": [
            {
              "name": "extra.channel",
              "value": "={{ $json.channel_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "60d0b859-e5ae-402f-9cc1-db55561e7de8",
      "name": "Set Identifier & Channel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3680,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "58f981c1-0ab5-4a8b-a1ca-8e9e5db64ace",
              "leftValue": "={{ $json.event }}",
              "rightValue": "api_inbox_delete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "b8795bb1-5bd3-4303-ae24-56d59c7cebf1",
      "name": "From Inbox Delete ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"public\".\"agent_bots\" (\"name\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"Whatsapp Sync - Quepasa\" }}', NULL, NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = 0 AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"Whatsapp Sync - Quepasa\" }}' AND \"account_id\" IS NULL);\nSELECT \"id\" FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = 0 AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"Whatsapp Sync - Quepasa\" }}' AND \"account_id\" IS NULL LIMIT 1;",
        "options": {}
      },
      "id": "579e42b5-7527-448c-8a96-066cc66d7fd6",
      "name": "GetOrCreate Global AgentBot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1584,
        -48
      ],
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d05483a-173e-4218-84fe-f3eec4dbf39c",
              "leftValue": "={{ $json.extra.utoken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e09ccae5-9ac6-4554-b3de-7123c3b01c7b",
      "name": "If Missing (utoken)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2560,
        48
      ]
    },
    {
      "parameters": {},
      "id": "42c9019d-a9f0-4996-a1db-48ee752a04d3",
      "name": "Identifier",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3312,
        64
      ]
    }
  ],
  "connections": {
    "If Missing Account": {
      "main": [
        [
          {
            "node": "Get Account From Inbox",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra Account",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Account & Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account From Inbox": {
      "main": [
        [
          {
            "node": "Set Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Account": {
      "main": [
        [
          {
            "node": "Merge Extra Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set AToken": {
      "main": [
        [
          {
            "node": "Merge Extra AToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra AToken": {
      "main": [
        [
          {
            "node": "Ensure Rights For AgentBot At Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Missing (utoken)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra Account": {
      "main": [
        [
          {
            "node": "Account & Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOrCreate Agent Token": {
      "main": [
        [
          {
            "node": "Set AToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Admin User Token": {
      "main": [
        [
          {
            "node": "Set UToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set UToken": {
      "main": [
        [
          {
            "node": "Merge Extra UToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra UToken": {
      "main": [
        [
          {
            "node": "Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Identifier": {
      "main": [
        [
          {
            "node": "Set Identifier & Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account & Inbox": {
      "main": [
        [
          {
            "node": "Merge Extra AToken",
            "type": "main",
            "index": 1
          },
          {
            "node": "GetOrCreate Global AgentBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Defaults": {
      "main": [
        [
          {
            "node": "From Inbox Delete ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Identifier & Channel": {
      "main": [
        [
          {
            "node": "Merge Extra Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Inbox Delete ?": {
      "main": [
        [],
        [
          {
            "node": "If Missing Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOrCreate Global AgentBot": {
      "main": [
        [
          {
            "node": "GetOrCreate Agent Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Missing (utoken)": {
      "main": [
        [
          {
            "node": "Get Admin User Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra UToken",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identifier": {
      "main": [
        [
          {
            "node": "Get Identifier",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra Identifier",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6c240263-f780-438e-a161-7fd6a0179e03",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2023-05-19T22:54:38.266Z",
      "updatedAt": "2023-05-19T22:54:38.266Z",
      "id": "13",
      "name": "github.com/nocodeleaks"
    },
    {
      "createdAt": "2025-08-08T00:44:31.388Z",
      "updatedAt": "2025-08-08T00:44:31.388Z",
      "id": "95HKVBfihMx9eAvs",
      "name": "apiqp-cw"
    }
  ],
  "shared": [
    {
      "createdAt": "2025-02-13T23:21:36.882Z",
      "updatedAt": "2025-02-13T23:21:36.882Z",
      "role": "workflow:owner",
      "workflowId": "t1o1WDo9E7C5EmJC",
      "projectId": "PvCSBKqKIFxr5IEy",
      "project": {
        "createdAt": "2024-11-06T23:37:48.901Z",
        "updatedAt": "2024-11-06T23:38:36.706Z",
        "id": "PvCSBKqKIFxr5IEy",
        "name": "Deivid Santos <deivid.amsantos@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ],
  "versao-qp": "3.25.2608.2105",
  "Workflow-Nome": "ChatwootExtra",
  "dir": "workflows",
  "Tag-Comparar": "apiqp-cw",
  "Workflow-Tags": [
    {
      "createdAt": "2023-05-19T22:54:38.266Z",
      "updatedAt": "2023-05-19T22:54:38.266Z",
      "id": "13",
      "name": "github.com/nocodeleaks"
    },
    {
      "createdAt": "2025-08-08T00:44:31.388Z",
      "updatedAt": "2025-08-08T00:44:31.388Z",
      "id": "95HKVBfihMx9eAvs",
      "name": "apiqp-cw"
    }
  ]
}