workflows/3.25.2608.2105/MsgRejectCall.json
{
  "createdAt": "2024-11-20T00:56:08.459Z",
  "updatedAt": "2025-08-08T01:09:45.801Z",
  "id": "GIPTrjgdT9vuOSlN",
  "name": "MsgRejectCall",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "baseUrl": "={{ $json.extra.qphost }}",
        "token": "={{ $json.extra.identifier }}",
        "resource": "information"
      },
      "id": "8da294e1-18ef-418a-aa8f-868824e137e8",
      "name": "Get Info",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        880,
        448
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "conversation",
              "value": "={{$json.body.conversation}}"
            },
            {
              "name": "extra",
              "value": "={{$json.body.extra}}"
            },
            {
              "name": "chat",
              "value": "={{ $json.body.chat }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Chatwoot Message Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        672,
        448
      ],
      "id": "3aeabd91-bbe8-4bb9-9a84-637d27f9fc0d"
    },
    {
      "parameters": {
        "baseUrl": "={{ $('Chatwoot Message Payload').item.json.extra.qphost }}",
        "token": "={{ $('Webhook').item.json.body.extra.identifier ?? $('Get Info').item.json.server.webhooks[0].extra.identifier }}",
        "method": "sendtext",
        "text": "={{ $env['C8Q_MSGFOR_REJECT_CALL'] ?? 'Não aceitamos ligação.' }}",
        "chatid": "={{ $('Chatwoot Message Payload').item.json.chat.id }}",
        "inreply": "="
      },
      "id": "7134b808-67c3-495d-a5e0-a49f6934d2f9",
      "name": "Send-Msg",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        1344,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0dd65134-4d17-43f5-aa91-a74d7a4191ce",
              "leftValue": "={{ $json.server.calls ?? $env[\"C8Q_QP_DEFAULT_CALL\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "fab6414e-f985-4b1e-9830-f4b5e089c817",
      "name": "Call-False?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        448
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reject-call",
        "options": {}
      },
      "id": "61147ec8-bfd3-4d2e-a36e-5b8a60f1e6eb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        432,
        448
      ],
      "webhookId": "ba328413-09d5-4941-af25-bd9a7c8dd7d6"
    }
  ],
  "connections": {
    "Chatwoot Message Payload": {
      "main": [
        [
          {
            "node": "Get Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Info": {
      "main": [
        [
          {
            "node": "Call-False?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call-False?": {
      "main": [
        [
          {
            "node": "Send-Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Chatwoot Message Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b58c1d1d-9fac-4e2a-90a3-a6df85fb95d3",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-08-08T00:44:31.388Z",
      "updatedAt": "2025-08-08T00:44:31.388Z",
      "id": "95HKVBfihMx9eAvs",
      "name": "apiqp-cw"
    }
  ],
  "shared": [
    {
      "createdAt": "2025-02-13T23:21:36.882Z",
      "updatedAt": "2025-02-13T23:21:36.882Z",
      "role": "workflow:owner",
      "workflowId": "GIPTrjgdT9vuOSlN",
      "projectId": "PvCSBKqKIFxr5IEy",
      "project": {
        "createdAt": "2024-11-06T23:37:48.901Z",
        "updatedAt": "2024-11-06T23:38:36.706Z",
        "id": "PvCSBKqKIFxr5IEy",
        "name": "Deivid Santos <deivid.amsantos@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ],
  "versao-qp": "3.25.2608.2105",
  "Workflow-Nome": "MsgRejectCall",
  "dir": "workflows",
  "Tag-Comparar": "apiqp-cw",
  "Workflow-Tags": [
    {
      "createdAt": "2025-08-08T00:44:31.388Z",
      "updatedAt": "2025-08-08T00:44:31.388Z",
      "id": "95HKVBfihMx9eAvs",
      "name": "apiqp-cw"
    }
  ]
}